body {
  background-color: lightblue;
  margin: 20px;
  text-align: left;
}
img {
  text-align: right;
}
ul {
  list-style: none;
  background: red;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
ul li ul.dropdown li {
  display: block;
  background: red;
}
ul li ul.dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
}
ul li a:hover {
  background: lightred;
}
